#main-title{
    color: blue;
    background-color: cornflowerblue;
}
.intro-p{
    color:blueviolet;
}
#color-box{
    background-color: yellow;
    color:goldenrod
}

.para{
    background-color:rgb(151, 192, 151);
}